configargparse==1.4
easydict==1.9
matplotlib==3.3.4
numpy==1.19.5
opencv-python==4.4.0.44
pip==21.0.1
pylint==2.7.4
shapely==1.7.1
tqdm==4.59.0
yapf==0.31.0
PyYAML==5.4.1
tensorflow==2.2.0
tensorflow-addons==0.11.2
git+https://github.com/klintan/pypcd.git#egg=pypcd
git+https://slikaf:C9doVn4AF3hVxHjJFiGy@gitlab.ika.rwth-aachen.de/automated-driving/pointpillars.git
